html,
body {
  height: 100%;
  background-color: #4791D2;
}

body {
  /*font-family: 'Raleway', sans-serif;*/
  font-family: monaco, Consolas, 'Lucida Console', monospace;
}

div.container {
	margin-top: 20px;
	width: 90%;
}

div#myjumbotron {
	height: 60%;
	padding: 40 40 40 40;
}

div.selector {
	margin: 10 0 10 0;
}

div.progress {
	margin: 15 0 10 0;
}

input#upload-input {
	display: none;
}

input#upload-input-ref {
	display: none;
}

input#upload-input-query {
	display: none;
}

div.panel {
	height: 100%;
}

label[for=upload-btn] {
	margin: 10 0 10 0;
}

label[for=jar-btn] {
	margin: 10 0 10 0;
}

div.well {
	height: 55%;
}

div.well p {
    font-size: 14px;
}

button.query-btn {
	float: right;
}

div#warning {
	margin-top: 10px;
	display: none;
}
