<html>
    <head>
        <title>foa-webapp</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <!-- JS -->
        <script src="/js/jquery-3.1.1.min.js" type="text/javascript"/></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"/></script>
        <script src="/js/app.js" type="text/javascript"/></script>
    </head>
    <body onload="loadBrands(); selectedClass()">

        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#">Classify</a></li>
                <li role="presentation"><a href="#">Compare</a></li>
              </ul>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-2">
                        <label for="sel-brands">Select Brand:</label>
                        <select class="form-control selector" id="sel-brands" onchange="loadModels(); selectedClass()">
                            <option value="Any">Any</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="sel-models">Select Model:</label>
                        <select class="form-control selector" id="sel-models" onchange="loadOS(); selectedClass()">
                            <option value="Any">Any</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="sel-os">Select OS:</label>
                        <select class="form-control selector" id="sel-os" onchange="selectedClass()">
                            <option value="Any">Any</option>
                        </select>
                    </div>
                    <div class="well col-md-6">
                        <p id="output"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>Upload file</h2>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"></div>
                                </div>
                                <button class="btn btn-lg upload-btn" type="button" onclick="resetProgressBar()">Upload File</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="upload-input" type="file" name="uploads[]" multiple="multiple" onchange="upload()"></br>

            </div>

        </div>

    </body>
</html>
